@model GGBlog.Models.BlogListModel
@{
 
    Layout = "~/Views/Shared/_Layout1.cshtml";
  
}
@if (Model!= null)
{
    @section Cats {
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            @foreach (var item in Model.Cats)
            {
                <li><a class="dropdown-item" href="#">@item</a></li>
            }
            
        </ul>
    }


    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var blogPost in Model.BlogPosts)
        {
            <div class="col mb-5">
                <div class="card h-100">
                        @if (blogPost.created_on >= DateTime.Today)
                        {
                            <!--  badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Yeni</div>
                        }
                        <!--  image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!--  details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!--  name-->
                            <h5 class="fw-bolder">@blogPost.title</h5>
                            <!--  summary-->
                            @Html.Raw(blogPost.summary)
                    </div>
                    </div>
                    <!--  actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/@blogPost.slug">Daha Fazla</a></div>
                    </div>
                </div>
            </div>
           
        }
           



        </div>
    </div>
  
}